# Covid- 19 Analysis Report

## Import Dependencies

In [2]:
import pandas as pd
# import matplotlib

## Import data files

In [3]:
covid_data = pd.read_csv('./covid_19_india.csv')
vaccine_data = pd.read_csv('./covid_vaccine_statewise.csv')

### Check Data, column and their types

In [4]:
covid_data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [26]:
covid_data.dtypes

Sno                          int64
Date                        object
Time                        object
State/UnionTerritory        object
ConfirmedIndianNational     object
ConfirmedForeignNational    object
Cured                        int64
Deaths                       int64
Confirmed                    int64
dtype: object

In [27]:
vaccine_data.head()

,Updated On,State,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,AEFI,18-30 years (Age),30-45 years (Age),45-60 years (Age),60+ years (Age),Total Doses Administered
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,NaN,NaN,NaN,NaN,NaN,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,NaN,NaN,NaN,NaN,NaN,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,NaN,NaN,NaN,NaN,NaN,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,NaN,NaN,NaN,NaN,NaN,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,NaN,NaN,NaN,NaN,NaN,251280.0

In [28]:
##

Updated On                              object
State                                   object
Total Individuals Vaccinated           float64
Total Sessions Conducted               float64
Total Sites                            float64
First Dose Administered                float64
Second Dose Administered               float64
Male(Individuals Vaccinated)           float64
Female(Individuals Vaccinated)         float64
Transgender(Individuals Vaccinated)    float64
Total Covaxin Administered             float64
Total CoviShield Administered          float64
AEFI                                   float64
18-30 years (Age)                      float64
30-45 years (Age)                      float64
45-60 years (Age)                      float64
60+ years (Age)                        float64
Total Doses Administered               float64
dtype: object

In [ ]:
vaccine_data.dtypes

## Month-wise Total covid confirmed cases for all States/UT in the year

In [ ]:
# Total confirmed cases
# sum(covid_data['Confirmed'])

# Fix Datetime for groupby
covid_data['Date'] = pd.to_datetime(covid_data['Date'], errors='coerce')

year_2020 = covid_data[covid_data['Date'].dt.year == 2020]
year_2021 = covid_data[covid_data['Date'].dt.year == 2021]
# print(year_2021)

# Month-wise Total covid confirmed cases for all States/UT in the year
ans = year_2020['Confirmed'].groupby(year_2020['Date'].dt.to_period('M')).sum()
# ans.to_csv(r'outputs/1_monthwise_tatal_2020.csv')

## Find total death cases in each States/UT and full country in the year 2020

In [168]:
# Find total death cases in each States/UT and full country in the year 2020

df_deaths_region = year_2020['Deaths'].groupby(year_2020['State/UnionTerritory']).sum()
df_deaths_region.loc["Total"] = year_2020['Deaths'].sum()
df_deaths_region
# df_deaths_region.to_csv(r'outputs/2_death_statewise_2020.csv')

## The Average Covid cases for all States/UT for the month April, in 2020 & 2021

In [169]:
april_2020 = year_2020[year_2020['Date'].map(lambda x: x.month) == 4]
april_2021 = year_2021[year_2021['Date'].map(lambda x: x.month) == 4]

# april_2020 = covid_data[covid_data['Date'].dt.month == 4]
april_2020['Confirmed'].mean()
april_2021['Confirmed'].mean()

avg_april = pd.DataFrame(columns = ['Apr Avg'])
# avg_april['Year'] = ['2020', "2021"]
avg_april.loc["2020"] = april_2020['Confirmed'].mean()
avg_april.loc["2021"] = april_2021['Confirmed'].mean()
avg_april

# avg_april.to_csv(r'outputs/3_avg_april.csv')

## Date has the highest covid cases in the country in the year 2020 & 2021

In [170]:
# date has the highest covid cases in the country in the year 2020 & 2021

# covid_data[covid_data['Confirmed'] == covid_data['Confirmed'].max()]
max_death_1day = covid_data[covid_data['Confirmed'] == covid_data['Confirmed'].max()]
max_death_1day
# max_death_1day.to_csv(r'outputs/4_max_death_1day.csv')

## The month-wise total number of male vaccinated in every States/UT, along with the covid cases, month-wise for the respective States/UT in the year of 2021

### Incomplete

In [5]:
# Fix Datetime for groupby
vaccine_data['Date'] = pd.to_datetime(vaccine_data['Updated On'], format="%d/%m/%Y", errors='coerce')

vaccine_data['Date']
vaccine_data_2021 = vaccine_data[vaccine_data['Date'].dt.year == 2021]
vaccine_data_2021
# vaccine_data_2021 = vaccine_data[vaccine_data['Updated On'].dt.year == 2021]

# vaccine_data['Male(Individuals Vaccinated)'].groupby(vaccine_data_2021['Date'].dt.to_period('M')).sum()

statewise_male_vaccinated = vaccine_data['Male(Individuals Vaccinated)'].groupby(vaccine_data_2021['State']).max()
statewise_male_vaccinated
# statewise_male_vaccinated.to_csv(r'outputs/5_statewise_male_vaccinated.csv')

State
Andaman and Nicobar Islands                    53903.0
Andhra Pradesh                               2813644.0
Arunachal Pradesh                             123119.0
Assam                                        1426380.0
Bihar                                        3829966.0
Chandigarh                                    118975.0
Chhattisgarh                                 2473087.0
Dadra and Nagar Haveli and Daman and Diu       49025.0
Delhi                                        2008240.0
Goa                                           173190.0
Gujarat                                      5982566.0
Haryana                                      2104603.0
Himachal Pradesh                              866844.0
India                                       74324379.0
Jammu and Kashmir                            1350850.0
Jharkhand                                    1501678.0
Karnataka                                    4321103.0
Kerala                                       2929192.0
Ladakh                                         47718.0
Lakshadweep                                    11997.0
Madhya Pradesh                               4007674.0
Maharashtra                                  8463005.0
Manipur                                       174158.0
Meghalaya                                     168275.0
Mizoram                                       120413.0
Nagaland                                      107893.0
Odisha                                       2755958.0
Puducherry                                     92689.0
Punjab                                       1981795.0
Rajasthan                                    6254687.0
Sikkim                                         89534.0
Tamil Nadu                                   2698147.0
Telangana                                    2263127.0
Tripura                                       508554.0
Uttar Pradesh                                6625417.0
Uttarakhand                                  1000126.0
West Bengal                                  4820673.0
Name: Male(Individuals Vaccinated), dtype: float64

In [12]:
vaccine_data_2021['month'] =  vaccine_data_2021['Date'].dt.strftime('%m')
ans = vaccine_data_2021['Male(Individuals Vaccinated)'].groupby([vaccine_data_2021['State'],vaccine_data_2021['month']]).sum()
# ans
ans.to_csv(r'outputs/5_completed.csv')